<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <nav class="navbar bg-dark p-0 m-0">
        <div class="container-fluid">
            <div class="p-3">
                <a class="px-3 py-3 text-decoration-none text-light" href="{{ url_for('home') }}">Home</a>
                <a class="px-3 py-3 text-decoration-none text-light" href="{{ url_for('apicall.apiCall') }}">Covid data</a>
                <a class="px-3 py-3 text-decoration-none text-light" href="{{ url_for('PasswordGenerator.PasswordGenerator') }}">Password Generator</a>
            </div>
            <div class="p-3 float-right">
                
                <a class="px-3 py-3 text-decoration-none text-light" href="{{ url_for('login') }}"><i class="fa fa-user-circle" style="font-size:24px;"></i></a>
            </div>
        </div>
    </nav>
</body>
</html>