{% extends "base.html" %}

{% block title %}Password Generator{% endblock %}


{% block content%}
    
    <h1 class="mb-4">Password Generator</h1>
    <form action="/passwordgenerator" method="post">
        <div class="row">
            <div class="col-4">
                <label for="lengthpw">Lengte Wachtwoord: </label>
            </div>
            <div class="col-8">
                <select style="width: 100px;" name="lengthpw" id="lengthpw">
                    {% for i in range(1, 33) %}
                        <option value="{{ i }}">{{ i }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-4">
                <label for="characters">Alle symbolen: ( e.g. @#$% )</label>
            </div>
            <div class="col-8 mt-2">
                <input type="checkbox" id="characters" name="characters">
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-4">
                <label for="numbers">Alle Nummers: ( e.g. 123456 )</label>
            </div>
            <div class="col-8 mt-2">
                <input type="checkbox" id="numbers" name="numbers">
            </div>
        </div>
        <button type="submit" class="btn btn-secondary mt-2">Genereer</button>
    </form>
    <div class="row mt-5">
        <div class="col-4">
            <label for="password">Wachtwoord: </label>
        </div>
        <div class="col-8 mt-2">
                {% if data is defined %}
                    <input type="text" placeholder="{{ data }}" id="password" name="password" style="width: 300px" readonly></input>
                {% else %}
                    <input type="text" placeholder="password" id="password" name="password" style="width: 300px" readonly></input>
                {% endif %}
        </div>
    </div>
    
{% endblock %}